.Logo-started {
  height: 277px;
  width: 299px;
}

.Head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Link {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.ButtonText {
  color: white;
  font-size: calc(10px + 2vmin);
}

.Button {
  width: 90vw;
  height: 50px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #0093e9;
  border: none;
  border-radius: 25px;
}
